node {
    content: data(short_name);
    text-valign: center;
    text-halign: center;
    color: black;
    width: 90px;
    height: 60px;
    shape: ellipse;
    background-color: #bcde77;
}
node[type="part"] {
    width: 90px;
    height: 60px;
    shape: ellipse;
    background-color: #bcde77;
}
node[type="proc"] {
    width: 110px;
    height: 110px;
    shape: diamond;
    background-color: Khaki;
}
node:selected {
    background-color: YellowGreen;
}

edge {
    label: data(label);
    color: BlanchedAlmond;
    text-background-opacity: 0.7;
    width: 6px;
    mid-target-arrow-shape: triangle;
    mid-target-arrow-color: GoldenRod;
    arrow-scale: 1.6;
}
